ctransformers==0.2.5
sentence-transformers==2.2.2
langchain==0.0.225
flask
pypdf
python-dotenv
langchain_pinecone
pinecone-client==3.0.0
pinecone-datasets==0.7.0
langchain-pinecone==0.0.3
langchain-openai==0.0.7
langchain==0.1.9
-e .